<!DOCTYPE html>

<html>
<head>
<script type="text/javascript" src="js/libs/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.json-2.3.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        getUserName(1,"username");
    });    
</script>
</head>
<body>
	        <div id="username" class="name"></div>
	        <div id="record">RECORD: <span id="recordsWins"></span>-<span id="recordLosses"></span></div>
	        <div id="funds"><span id="walletAmount"class="money">$100.00</span></div>
	        <div class="button" id="btnAddFunds">Add Funds</div>	
</body>
</html>
